*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
   
}
.top{
    height: 100px;
    width: 100%;
    background-color:rgba(59, 89, 152);
    display: flex;
    flex-direction: row;
}

.topleft{
    height: 100px;
    width: 50%;
    padding-top: 30px;
    display: inline;
}

.topleft h1{
    height: 100px;
    width: 50%;
    color: white;
    font-size: 50px;
    
    padding-left: 200px;
    padding-top: 30px;
    display: inline;
}
.topright{
    height: 100px;
    width: 49%;
    display: inline;

}
.form{
    margin-top: 20px;
    margin-left: 295px;
   display: flex;
    flex-direction: row;
    
    gap: 20px;
    
}
.x{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 180px;
    
    
    
}
.tpassword{
   
    color: white;
    display: inline;
}
.temail{
    
    color: white;
    font-family: a;
    display: inline;
    
}
.login{
   width: 49px;
   height: 19px;
   padding: 1px;
   background-color: #5972A7;
   color: white;
   
   
   border: 1px solid #5961a7;
   border-radius: 2px;
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
   
}
.login:hover{
    
    cursor: pointer;
}
.submit{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.checkbox{
    
    color: rgb(150, 167, 201);
        
        font-size: small;
        
}
.forgotpass{
    
    color: rgb(150, 167, 201);
    text-decoration: none;
   
    font-size: small;
}

.main{
    display: flex;
    flex-direction: row;
    height: 72%;
    background: linear-gradient(to bottom, #ffffff, #C7CCDB);
}
.left{
    width: 60%;
    height: 85%;

    
    color: #0E385F;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    
}
img{
    margin-top: 20px;
}
.right form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.hh{
    font-size: 37px;

   margin-top: 20px;
}
.free{
    font-size: 19px;
}
.name input{
    margin-top: 20px;
    height: 38px;
    font-size: large;
    border-color:#C1CBDB ;
    border-radius: 5px;
    border-width: 1px;
    padding-left:8px ;
    width: 200px;
    
}
.email{
    height: 38px;
    font-size: large;
    border-color:#C1CBDB ;
    border-radius: 5px;
    border-width: 1px;
    padding-left:8px ;
    width: 414px;
}
.reemail{
height: 38px;
    font-size: large;
    border-color:#C1CBDB ;
    border-radius: 5px;
    border-width: 1px;
    padding-left:8px ;
    width: 414px;


}
.password{
    height: 38px;
    font-size: large;
    border-color:#C1CBDB ;
    border-radius: 5px;
    border-width: 1px;
    padding-left:8px ;
    width: 414px;
}
#month{
    height: 28px;
    width: 70px;
    padding-left: 10px;
    border-color:#C0CADA;
}
#day{

 height: 28px;
    width: 56px;
    padding-left: 10px;
    border-color:#C0CADA;


}
#year{
     height: 28px;
    width: 63px;
    padding-left: 10px;
    border-color:#C0CADA;
}
    .why{
        margin-left: 5px;
    }
    .free{
        color: black;
    }
    a{
        color: #4B66A1;
        text-decoration: none;
    }
    p{
        color: #949599;
    }
    input[type="radio"]{
        margin-top: 10px;
        margin-bottom: 10px;
        transform: scale(1.2);
        font-size: 500px;
    }
   .male{
    margin-left: 20px;
    font-size: large;
    
   }
   .female{
    
    font-size: large;
    
   }
   input[type="submit"]{
    padding-bottom: 4px;
    height: 50px;
    width: 250px;
    border-radius: 6px;
    font-size:x-large;
    color: white;
    background-color: #60A14E;
    border-color: #3B6E22;
    border-width: 1px;
    margin-bottom: 5px;
    



   }
.bottom{

width: 80%;
height: 100%;
padding-left: 250px;
}

